body {
    background-color: #A6A198;
    color: #58585A;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#container {
    width: 1400px;
    align-self: center;
    background-color: #070707;
    margin: 30px auto;
    border: 10px solid #58585A;
    border-radius: 30px;
}

header {
    background-color: #FFFF7C;
    border-radius: 10px 10px 0 0;

}

header img {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

main {
    background-color: #B9A187;
    margin: 10px auto;
    width: 1200px;
    padding: 10px;
    border: 8px solid #593f16;
}

main h1 {
    text-align: center;
    color: #58585A;
    font-size: larger;
    font-style: italic;
}

main h2 {
    text-align: center;
    color: floralwhite;
    font-size: Large;
    font-style: inherit;
}

main h3 {
    text-align: center;
    color: #58585A;
    font-size: Large;
    font-style: oblique;
}

main img {
    width: 35%;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

footer {
    background-color: #FFFF7C;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 15px;
}

nav{
    background-color: #CDC9C0;
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #A78569;
    height: 100px;
    width: 200px;
    font-size: 1em;
    font-weight: bolder;
    line-height: 80px;
    color: darkgray;
    text-decoration: none;
    border-radius: 15px 15px 0 0;
    margin: 0 20px;
}

nav a:hover {
    background-color: rgb(149, 151, 146);
    color: rgb(154, 160, 160);
}

.active {
    background-color: darkolivegreen;
    color: darkslategrey;
}

.pro_head {
    text-align: center;
    color: #E49641;
    font-size: large;
    font-family: sans-serif;
}

.p {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p1 {
    font-family: sans-serif;
}

.p2 {
    font-family: fantasy;
}

.p3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h1 {
    font-variant: small-caps;
}