body {
    background-color: #FEFEFE;
    font-size: 18px;
    font-family: 'Lobster', cursive;
    font-style: oblique;
    font-weight: bolder;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    background-color: #FEFEFE;
    margin: 20px;
}

header {
    padding: 50px;
    border-bottom: 10px solid#BF8553;
}

header h1 {
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
    text-decoration-color: #c8f71e;
}

.col {
    border: 10px solid #BF8553;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
}

.col h2 {
    text-align: center;
    font-size: 2em;
    text-shadow: #BF8553;
    text-decoration: #917659;
}

.col img {
    width: 50%;
}

.main_img {
    display: none;
}

footer {
    padding: 40px 0;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
    border-top: 15px #BF8553;
    font-style: italic;
    font-weight: bold;
}

@media(min-width: 768px) {
    #container {
        background-color: #F2F2F2;
        width: 90%;
        margin: 20px auto;
    }
    .col {
        width: 70%;
        margin: 30px auto;
    }

    .col img {
        width: 40%;
    }
}

@media(min-width: 1024px) {
    #container {
        background-color: #E6E5EA;
        width: 70%;
        border-radius: 20px;
    }
    #flex {
        display: flex;
    }

    .col {
        margin: 20px;
        width: 100%;
    }

    .col img {
        width: 35%;
    }

    .main_img {
        display: block;
        width: 60%;
        margin: 20px auto;
    }
}