/* Global Styles */
body {
    background-image: url(../images/milkyWayBackground.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */
#container {
    background-color: #171B1E;
    border-radius: 20px 20px 0 0;
    margin: 50px;
}
header {
    background-image: url('../images/moonSurface.jpg');
    background-size: cover;
    padding: 50px 20px;
    border-radius: 20px 20px 0 0;
    border: solid #D1CFD2;
}
header h1 {
    color: #F9D5A3;
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 3px 3px#BF9D73;
}
.dropbtn {
    background-color: #93816D;
    color: white;
    padding: 15px;
    font-size: 3em;
    border: #F9D5A3;
    box-shadow: 0px 10px 15px 0px#93816D;
    margin: 0 auto;
    border-radius: 2px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5A4526;
    width: 100%;
    box-shadow: 0px 10px 15px 0px#93816D;
    z-index: 1;
    overflow: auto;
}
.dropdown-content a {
    color: whitesmoke;
    font-size: 2em;
    padding: 5px 5px;
    text-decoration: none;
    display: block;    
    border: solid #D1CFD2;
    border-radius: 2px;
    transform: translate(-10%);
}
.dropdown-content a:hover {
    background-color: #563F1D;
    align-items: center;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #563F1D;
}
nav {
    margin: auto;
    text-align: center;
}
section, aside, .col {
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
    font-size: 2.25em;
}
footer {
    font-size: 2em;
    color: #FCE3A1;
    text-shadow: 5px 5px 5px#FF560A;
    background-color: #050505;
}
.single_col {
    width: 100%;
}
audio, video {
    display: block;
    margin: 15px auto;
    width: 80%;
}
.smallMoons_img {
    border: 2px solid #D1cFD2;
    border-radius: 5px;
    margin: 5px auto;
}
table {
    display: none;
}


/* Tablet Styles */
@media(min-width: 768px) {
    header {
        padding: 20px;
    }
    header h1 {
        font-size: 4em;
    }
    #upper_flex {
        display: flex;
    }
    section, aside {
        width: 50%;
        background-color: #212226;
        padding: 20px;
        margin: 15px;
        border: 3px solid #D1CFD2;
        border-radius: 5px;
    }
    .col img {
        width: 95%;
    
    }
    .col {
        border-radius: 5px;
        border: solid#D1CFD2;
    } 
}

/* Desktop Styles */
@media(min-width: 1024px) {
    #container {
        width: 80%;
        margin: 30px auto;
    }
    aside img {
        width: 100%;
    }
    #lower_flex {
        display: flex;
    }
    .col, .col img {
        width: 100%;
    }
    table, tr, td {
        border: 4px solid #d1cfd2;
        padding: 12px;
        margin: 15px;
    }
    table img {
        width: 100%;
    }
    .smallMoons {
        display: none;
    }
    table {
        display: block;
    }
}